@model IEnumerable<GlowHarmonySkin.Models.Category>

@{
    ViewData["Title"] = "GlowHarmonySkin - Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to GlowHarmonySkin</h1>
            <p class="lead">Your one-stop shop for all your skincare needs.</p>
            <a href="/Products/Index" class="btn btn-primary btn-lg">Shop Now</a>
        </div>
        <h2 class="text-center mb-4">Categories</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card homeimg bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cleanser</h5>
                        <a href="@Url.Action("Category", "Products", new { categoryName = "Cleanser" })" class="btn btn-secondary">View Cleanser</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card homeimg bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Serum</h5>
                        <a href="@Url.Action("Category", "Products", new { categoryName = "Serum" })" class="btn btn-secondary">View Serum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card homeimg bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Moisturizer</h5>
                        <a href="@Url.Action("Category", "Products", new { categoryName = "Moisturizer" })" class="btn btn-secondary">View Moisturizer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card homeimg bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Exfoliator</h5>
                        <a href="@Url.Action("Category", "Products", new { categoryName = "Exfoliator" })" class="btn btn-secondary">View Exfoliator</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
